.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "movies music"
    "series books";
}

.movies {
  grid-area: movies;
  background-image: url(../assets/images/movies-bg.jpg);
}

.music {
  grid-area: music;
  background-image: url(../assets/images/music-bg.jpg);
}

.series {
  grid-area: series;
  background-image: url(../assets/images/series-bg.jpg);
}

.books {
  grid-area: books;
  background-image: url(../assets/images/books-bg.jpg);
}

.category {
  border-radius: 10px;
  width: 35em;
  height: 15em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bold;
  padding: 3em;
  text-decoration: none;
}

.category p {
  font-size: 2em;
}

.category:hover {
  cursor: pointer;
  background-size: 120%;
  animation: zoom 1s;
  animation-timing-function: ease;
}

.favs {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1;
  transition-duration: 1s;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}

.favs:target {
  opacity: 1;
  z-index: 10;
}

.content {
  z-index: 10;
  padding-top: 72px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  width: 100%;
  height: calc(100%);
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.title {
  margin-left: 1em;
}

.item > img {
  width: 120px;
  height: 200px;
}

.return {
  left: 95%;
  transform: translateX(-100%);
  bottom: 0;
  position: fixed;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--red);
  display: grid;
  place-items: center;
  text-decoration: none;
  color: white;
  margin: 3em 0 3em 0;

  background-image: url("../assets/svgs/x-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.3em
}


.return:hover {
  background-color: #922611;
}

.return:active {
  background-color: #922611;
}

@keyframes zoom {
  from {
    background-size: 100%;
  }
  to {
    background-size: 120%;
  }
}

.favs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "m1 m2 m3"
    "m4 m5 m6"
    "m7 m8 m9";
}

.m1 {
  grid-area: m1;
}

.m2 {
  grid-area: m2;
}

.m3 {
  grid-area: m3;
}

.m4 {
  grid-area: m4;
}

.m5 {
  grid-area: m5;
}

.m6 {
  grid-area: m6;
}

.m7 {
  grid-area: m7;
}

.m8 {
  grid-area: m8;
}

.m9 {
  grid-area: m9;
}

@media (min-width: 0px) and (max-width: 650px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .category {
    width: 23em;
    height: 10em;
    margin-bottom: 20px;
  }

  .first {
    margin-top: 3em;
  }
  .last {
    margin-bottom: 3em;
  }

  .return {
    margin: 3em 0 5em 0;
  }

  .favs-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "m1"
      "m2"
      "m3"
      "m4"
      "m5"
      "m6"
      "m7"
      "m8"
      "m9";
  }
}

@media (min-width: 650px) and (max-width: 900px) {
  .category {
    width: 20em;
    height: 10em;
  }
}
