.main-container {
    display: flex;
    flex-direction: row;
}

.form {
    --form: var(--primary);
    background-color: var(--form);
    border-radius: 20px;
    box-sizing: border-box;
    height: 400px;
    padding: 20px;
    width: 320px;
    border: 2px solid white;
}

.title {
    color: #eee;
    font-family: inherit;
    font-size: 30px;
    font-weight: 1000;
    margin-top: 8px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input,
textarea {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

textarea {
    padding: 1em;
    line-height: 1.2em;
    resize: none;
}

.cut {
    background-color: var(--form);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 65px;
}

.cut-short {
    width: 57px;
}

.cut-large {
    width: 72px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

textarea:focus~.cut,
textarea:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: inherit;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

textarea:focus~.placeholder,
textarea:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

textarea:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: var(--secondary);
}

textarea:focus~.placeholder {
    color: var(--secondary);
}

.submit {
    background-color: var(--secondary);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
}

.submit:active {
    opacity: 0.9;
}

.submit:hover {
    transform: scale(105%);
}

.icons-bar {
    padding: 10px;
    background-color: var(--secondary);
    height: 400px;
    width: 60px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: 1.5em;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon a {
    text-decoration: none;
    color: transparent;
    line-height: 40px;
}

.icon {
    width: 40px;
    height: 40px;
    fill: var(--white);
    margin-top: 1.5em;
    cursor: pointer;
}

.first-sent {
    margin-left: 0.4em;
}

.first {
    margin-top: 0.9em;
}

.instagram {
    background-image: url("../assets/instagram.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.linkedin {
    background-image: url("../assets/linkedin.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.github {
    background-image: url("../assets/github.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.discord {
    background-image: url("../assets/discord.svg");
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 600px) {
    .main-container {
        flex-direction: column;
    }

    .icons-bar {
        height: 60px;
        width: 320px;
        margin: 1em 0 1.5em 0;
        display: flex;
        flex-direction: row;
    }

    .icon {
        margin: 0 0 0 1.5em;
    }

    .first {
        margin-left: 0.4em;
    }
}