@import "fonts.css";


/*Different settings from the other documents*/
* {
    font-family: "Rubik";
    --fancy: "Nothing-You-Could-Do";
    --primary: #001220;
    --secondary: #c7112f;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
}


.fancy {
    font-family: var(--fancy);
}

.side {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: absolute;

    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-template-areas:
        "nav"
        "title";
}

.nav { grid-area: nav; }
.title { grid-area: title; }

.side .title {
    font-size: 8vw;
    margin: 0 15vw;
    width: 70vw;
}

.cv {
    --margin: 20px;
    width: 150px;
    height: 50px;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: var(--margin); 
    right: var(--margin); 
    z-index: 5;
    color: var(--primary);
    background-color: white;
    border-radius: 24px;
}

.cv > a {
    text-decoration: none;
}

.cv:hover {
    transform: scale(110%);
}

#left-side {
    background-color: var(--primary);
    z-index: 2;
}

#left-side .title {
    color: white;
}

#left-side .fancy {
    color: var(--secondary);
}

#right-side {
    color: black;
    background-color: var(--secondary);
}

#right-side .fancy {
    color: white;
}

#right-side .link {
    color: black;
}
