

@font-face {
  font-family: "Lobster";
  src: url("../static/Lobster.otf");
}

main{
  padding: 0;
}

.space-between {
  height: 60px;
}

.box:nth-child(even){
  background-color: var(--dark-blue);
  color: white;
}
.box:nth-child(odd){
  background-color: transparent;
  color: black;
}

.content{
  width: 100vw;
  height: 100%;
  bottom: 0;
  margin: 0;
}

.box{
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 50px 300px;
  height: auto;
  width: 100vw;
  display: grid;
  place-items: center;
}

.welcome {
  margin: 50px 0;
  font: 6em bolder;
  font-family: "Lobster";
}

footer {
  margin-bottom: 0;
  margin-top: 100px;
}

.link {
  width: 100vw;
  height: 400px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item {
  width: 310px;
  height: 310px;
  background-color: white;
  border-radius: 20px;
  margin-right: 30px;
}

.item:hover {
  cursor: pointer;
  opacity: 80%;
}

#sxolh {
  margin-left: 30px;
  background-image: url(../assets/images/κατάλογος.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

#paragraph{
  margin-left: 50px;
  color: white;
  width: 600px;
  font-size: 1.1em;
  line-height: 1.8em;
}



@media (max-width: 600px) {
  .welcome {
    font-size: 4em;
  }

  .box{
    padding: 40px 60px;
  }

  footer{
    font-size: 80%;
  }  

  .link {
    height: 200px;
  }

  .item {
    width: 320px;
    height: 130px;
    margin-right: 10px;
  }

  #paragraph{
    overflow-y: auto;
    font-size: 0.7em;
    height: 160px;
    width: 400px;
    margin-right: 10px;
  }

  .container {
    width: 90%;
    font-size: 80%;
  }
}