.project-container {
    background-color: transparent;

    width: calc(10vw * 6);
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 6;
}

.project {
    background-color: var(--secondary);

    width: 9vw;
    aspect-ratio: 1/ 1;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}


.project > p {
    margin: 0;
    font-size: 1vw;
}

a {
    text-decoration: none;
    color: white;
}

.project:hover {
    --scaled: 110%;
    transform: scale(var(--scaled));
    animation: scale 0.3s ease-out;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.6);
}


@keyframes scale {
    0% {
        transform: scale(100%);
    }

    100% {
        transform: scale(var(--scaled));
    }
}

/* Tablet */
@media (min-width: 600px) and (max-width:900px) {
    .project-container {
        --width: calc(100vw / 5);
        width: calc(var(--width) * 4);
    }

    .project {
        width: var(--width);
    }

    .project > p {
        font-size: 3vw;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .project-container {
        --width: calc(100vw / 3.6);
        width: calc(var(--width) * 3);
    }

    .project {
        width: var(--width);
    }

    .project > p {
        font-size: 4vw;
    }
}
