@import "fonts.css";

* {
    font-family: "Rubik";
    --fancy: "Nothing-You-Could-Do";
    --primary: #001220;
    --secondary: #c7112f;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-template-areas:
        "nav"
        "grid";
}

.nav { grid-area: nav; }
.main { grid-area: main; }

main {
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    height: 100%;
}


